<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    
	<typeAliases>
		<typeAlias type="com.hqt.demo.entities.UsrInfo" alias="usrInfoVO" /> 
		<typeAlias type="com.hqt.demo.entities.UsrToken" alias="usrTokenVO" /> 
		<typeAlias type="com.hqt.demo.entities.sysMenuVO" alias="sysMenuVO" /> 
		<typeAlias type="com.hqt.demo.entities.SysConfig" alias="sysConfigVO" /> 
	</typeAliases>
	
	
</configuration>
