<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.mailMapper">
	<!-- no need loop resultSet -->
	<insert id="insertMail" parameterType="map">
		<![CDATA[
	        INSERT INTO mail (
	        cif, 
	        cusName, 
	        path) VALUES (#{cif},#{cusName},#{path});
		]]>
	</insert>
</mapper>

